*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}
.header{
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.header-container{
	padding: 12px 0;
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-container{
	width: 1000px;
	margin: 24px auto 0;
	display: flex;
}
.block-left{
	margin-right: 35px;
}
.block-left > img{
	width: 480px;
}
.block-right{
	width: 400px;
}
.block-right__header{
	margin: 10px 0 8px;
	font-weight: 600;
	font-size: 18px;
}
.block-right__art{
	font-weight: 400;
	font-size: 12px;
	color: #828282;
	margin-bottom: 15px;
}
.rating{
	width: 250px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.rating_text{
	font-weight: 400;
	font-size: 14px;
}
.rating_stars{
	display: flex;
	justify-content: center;
	align-items: center;
}
.arrow{
	display: flex;
	justify-content: center;
	align-items: center;	
}
.price{
	width: 160px;
	display: flex;
	justify-content: space-between;
	line-height: 25px;
	margin-bottom: 20px;
}
.price_new{
	font-weight: 700;
	font-size: 24px;
}
.price_old{
	font-weight: 400;
	font-size: 16px;
	color: #828282;
	text-decoration: line-through .5px;
}
.discount{
	width: 200px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.discount_text{
	border: 1.5px solid black;
	font-weight: 400;
	font-size: 14px;
	padding: 5px;
}
.size{
	margin-bottom: 20px;
}
.size_select{
	border: 1.5px solid black;
	height: 40px;
	width: 250px;
	padding: 5px;
}
.cart_number{
	display: flex;
}
.box{
	width: 40px;
	height: 40px;
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.operators:hover{
	color: red;
}
.cart{
	width: 300px;
	display: flex;
	justify-content: space-between;
}
.cart_add{
	background-color: #333333;
	border: 10px solid #333333;
	color: white;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
}